header {
    background-image: url("../../images/hero1.jpg");
    background-size: cover;
    background-position: center 20%;
    /* background-position: center; */
}

header div {
    /* backdrop-filter: blur(10px); */
    background-image: linear-gradient(to right, #00000080 25%, #ffffff00);
    padding-top: 5%;
    padding-left: 10%;
    padding-bottom: 10%;
}

header h1 {
    font-size: 3.5rem;
    color: var(--color-4);
}

header p {
    color: var(--color-4);
    font-size: 1.1rem;
    line-height: 2rem;
}

header button {
    border: 0;
    border-radius: 25px;
    background-color: var(--color-1);
    color: var(--color-4);
    padding: .8rem 1.8rem;
    letter-spacing: .1rem;
    font-weight: bold;
    font-family: "Kristen ITC";
    cursor: pointer;
}