/* * Info Bar * */
.top-bar .info-bar {
    display: flex;
    background-color: var(--color-1);
    color: var(--white);
    padding: .5rem;
    justify-content: space-between;
    font-size: .7rem;
}

.top-bar .info-bar>div {
    display: flex;
    justify-content: space-between;
}

.top-bar .info-bar .center {
    display: none;
}

.top-bar .info-bar .right {
    justify-content: right;
}

.top-bar .info-bar .right>div {
    display: flex;
    gap: 1rem;
}

.top-bar .info-bar button {
    background-color: transparent;
    color: inherit;
    border: 0;
    transition: scale .2s ease-in;
}

.top-bar .info-bar button:hover {
    cursor: pointer;
    color: var(--color-2);
}

.top-bar .info-bar button:active {
    scale: .9;
}

.top-bar .info-bar button span {
    margin-left: .4rem;
    font-size: 75%;
    font-weight: bold;
}

/* * Navigation * */
.top-nav {
    position: relative;
    isolation: isolate;
}

.nav-inner {
    display: flex;
    align-items: center;
    background-color: var(--white);
    color: var(--color-1);
    padding: .3rem .8rem;
    justify-content: space-between;
    font-weight: 500;
}

.top-nav .logo {
    display: inline-block;
    font-size: 1.2rem;
    padding: .4rem 0;
}

.top-nav .logo img {
    width: 1.8rem;
    vertical-align: middle;
    translate: 0 -4px;
    margin-right: .8rem;
}

/* *Sub - menu * */

.top-nav .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 2rem 1rem 1rem;
    background-color: #e7e9eb;
    box-shadow: inset 0px 2px 8px 0px #aaa;
}

.top-nav .sub-menu.visible {
    display: grid;
}

.top-nav .sub-menu > :is(a, button) {
    text-align: center;
    padding: .5rem 0;
    border: 0;
    background-color: transparent;
    color: currentColor;
    text-decoration: none;
    font: inherit;
    cursor: pointer;
}

.top-nav .sub-menu :is(a, button):hover {
    background-color: var(--color-4);
}

.top-nav .sub-menu .input-bar {
    display: none;
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
}

.top-nav .sub-menu .input-bar input[type="text"] {
    flex: 1;
    padding: .5rem 1rem;
    border: 0;
}

.top-nav .sub-menu .input-bar button[type="submit"] {
    border: 0;
    background-color: transparent;
    padding: 0 .5rem;
}

.top-nav .sub-menu .input-bar button svg {
    width: 1.2rem;
    color: #777;
    vertical-align: middle;
}

/* * Input Bar * */
.top-nav .mobile-input-bar {
    display: flex;
    position: absolute;
    left: 0;
    top: 100%;
    translate: 0 -100%;
    width: 100%;
    height: auto;
    border-top: 2px solid black;
    z-index: -1;
    transition: translate .5s ease-in;
}

.top-nav .mobile-input-bar.visible {
    translate: 0 0;   
}

.top-nav .mobile-input-bar input[type="text"] {
    flex: 1;
    border: 0;
    padding: .5rem 1rem;
}

.top-nav .mobile-input-bar [type="submit"] {
    border: 0;
    padding: .5rem 1rem;
    cursor: pointer;
}

.top-nav .mobile-input-bar button svg {
    width: 1.2rem;
    vertical-align: middle;
    color: #444;
}

/* * Mobile Menu Buttons * */

.top-nav .mobile-buttons {
    display: flex;
    gap: .7rem;
    align-items: center;
}

.top-nav .mobile-buttons .side-link {
    display: none;
    color: currentColor;
    text-decoration: none;
}

.top-nav .mobile-buttons .side-link:hover {
    color: var(--color-2);
}

.top-nav .search-button {
    background-color: transparent;
    box-shadow: 0 0 4px 0 #b6b6b670;
    border: 0;
    border-radius: 5px;
    padding: .5rem;
    cursor: pointer;
}

.top-nav .search-button svg {
    width: 2em;
    vertical-align: middle;
}

/* * Animated Menu Nav * */
.animated-menu-button {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 .5rem;
    background-color: transparent;
    border: 0;
    transition: scale .5s;
    --width: 2.2rem;
    --height: calc((var(--width) - 24px) / 3);
    box-shadow: 0 0 4px 0 #b6b6b670;
}

.animated-menu-button:active {
    scale: .7;
}

.animated-menu-button>div {
    height: 2px;
    width: 1.8rem;
    background-color: black;
    transition: rotate .5s, translate .5s ease .5s, opacity 0s ease .5s;
}

.open>div {
    transition: translate .5s, rotate .5s ease .5s, opacity 0s ease .5s;
}

.open>div:nth-child(1) {
    translate: 0 8.5px;
    rotate: -45deg;
}

.open>div:nth-child(2) {
    opacity: 0;
}

.open>div:nth-child(3) {
    translate: 0 -8.5px;
    rotate: 45deg;
}

/*  changed min-width from 36rem to 56.25rem to work on medium and small screens, without breaking for screens in between */
@media screen and (max-width:56.25rem) {
    .top-bar .info-bar {
        padding: .5rem 1rem;
    }

    .top-bar .info-bar>div {
        padding: 0 1rem;
    }

    .top-bar .info-bar .right>div {
        gap: 2rem;
    }

    .top-bar .info-bar button span {
        margin-left: .7rem;
    }

    .top-nav .sub-menu .side-link {
        display: none;
    }

    .top-nav .mobile-buttons .side-link {
        display: inline;
    }

    /* hiding links for smaller screens to declutter nav bar */
    .nav-links{
        display: none;
    }
}

/* changed min-width to max-width so it works on screens larger than 56.25rem */
@media screen and (min-width:56.25rem) {
    .top-bar .info-bar {
        padding: .5rem 2rem .5rem 1rem;
    }

    .top-bar .info-bar>div {
        flex: 1;
    }

    .top-bar .info-bar .right {
        justify-content: space-between;
    }

    .top-bar .info-bar .center {
        display: inline;
    }

    .top-nav .nav-inner {
        gap: 1.5rem;
        padding: .7rem 1rem;
    }

    .top-nav  .nav-inner .sub-menu {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        justify-content: space-between;
        position: static;
        padding: 0;
        background-color: transparent;
        box-shadow: none;
        flex: 1;
    }

    .top-nav .sub-menu :is(a, button):hover {
        background-color: transparent;
        color: var(--color-2);
        border-bottom: 2px solid var(--color-2);
    }

    .top-nav .sub-menu :is(.input-bar, .side-link) {
        display: flex;
    }

    .top-nav .mobile-input-bar {
        display: none;
    }

    .top-nav .mobile-buttons {
        display: none;
    }
}